/* custom css here */

body {
    background-color: #40004F
}

p {
    color: white;
}

nav {
    background-color: #F18100;
}

ul li {
    display: inline;
    text-decoration: none;
}

.navbar button {
    font-size: 16px;
    color: white;
    background-color: #C00034;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.text {
    color: #F18100;
}

.footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    body {
        background-color: #40004F
    }
    p {
        color: white;
    }
    nav {
        background-color: #F18100;
    }
    ul li {
        display: inline;
        text-decoration: none;
    }
    .navbar button {
        font-size: 16px;
        color: white;
        background-color: #C00034;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
    }
    .text {
        color: #F18100;
    }
    .footer {
        position: fixed;
        bottom: 0px;
        text-align: center;
    }
}